{
	"SPOTIFY_ACCOUNTS_BASE_URL":"https://accounts.spotify.com",
	"SPOTIFY_BASE_URI" : "https://api.spotify.com",
	"REDIRECT_URI" : "http://127.0.0.1:5000/spotify_after_login",
	"CLIENT_ID" : "ID",
	"CLIENT_SECRET" : "SECRET",
	"YOUTUBE_API_KEY" : "API_KEY",
	"YOUTUBE_CLIENT_SECRETS_FILE" : "youtube_webapp_client_secret.json",
	"SCOPES" : ["https://www.googleapis.com/auth/youtube.force-ssl"],
	"API_SERVICE_NAME" : "youtube",
	"API_VERSION" : "v3"
}